In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data.csv')

In [4]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.448960         0   82          1           0              0
1   98.402419         1   79          1           0              1
2  101.976742         0   99          1           1              1
3  100.979772         0    2          1           0              1
4  100.549600         0   72          0          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555 entries, 0 to 2554
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2555 non-null   float64
 1   bodyPain       2555 non-null   int64
 2   age            2555 non-null   int64
 3   runnyNose      2555 non-null   int64
 4   diffBreath     2555 non-null   int64
 5   infectionProb  2555 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 119.9 KB

In [7]:
df.isnull().sum()

fever            0
bodyPain         0
age              0
runnyNose        0
diffBreath       0
infectionProb    0
dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000
mean,99.998145,0.504110,50.545205,0.504892,-0.010959,0.481800
std,1.158575,0.500081,29.194253,0.500074,0.815303,0.499766
min,98.001744,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.994849,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.961132,1.000000,51.000000,1.000000,0.000000,0.000000
75%,101.010474,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999200,1.000000,100.000000,1.000000,1.000000,1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [12]:
y.shape

(2555,)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
model=LogisticRegression()

In [15]:
model.fit(x_train,y_train)

LogisticRegression()

In [16]:
y_pred=model.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(y_test,y_pred)

0.5305164319248826

In [19]:
import pickle

In [20]:
file=open('model.pkl','wb')

In [ ]:
pi